{% extends "layout/main.twig" %}

{% block content %}

    <div class="banner">

        <div class="banner-content">
            <div class="content">
                <div class="banner-title">
                    <h1><mark>Minecraft</mark> — Проект по игре Minecraft</h1>
                </div>
            </div>
        </div>

    </div>

{% endblock %}