{% extends "layout/main.twig" %}

{% block content %}

    <div class="banner">

        <div class="banner-content">
            <div class="content">
                <div class="banner-title">
                    <h1><mark>Minecraft</mark> — Проект по игре Minecraft</h1>
                </div>

                <div class="banner-button anchors">
                    <a href="#product">
                        <span class="banner-button_arrow">
                            <i class="icon-arrowDown"></i>
                        </span>

                        <p>Перейти к товарам</p>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div class="servers">
        <div class="servers-content">
            <div class="content">
                <div class="servers-block">
                    <div class="servers-block_left">
                        <div class="servers-block_left__top">
                            <div class="server-status-online"></div>
                            <h4>34</h4>
                        </div>

                        <div class="servers-block_left__bottom">
                            <p>1.20-1.21.x</p>
                            <h4>Выживание</h4>
                            <h6>mc.GGMine.ru:25565
                                <i class="icon-copy"></i>
                            </h6>
                        </div>

                    </div>

                    <div class="servers-block-right">
                        <div class="server-number">01</div>
                        <div class="server-image"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="magazine">
        <div class="magazine-content">
            <div class="content">

                <a id="product"></a>
                <div class="magazine-title">
                    <h2>Товары</h2>
                </div>


                <div class="magazine-block">
                    <div class="row">
                        <div class="col-lg-3">
                            <a href="#" class="magazine-block_product">

                                <div class="sale">
                                    <div class="sale__size">
                                        <i class="icon-clock"></i>
                                    </div>
                                    <div class="sale__timer">
                                        <div>20% 2025</div>
                                    </div>
                                </div>

                                <div class="magazine-block_product__opacity">
                                    <div class="magazine-block_img">
                                        <img src="/images/product.png" loading="lazy" alt="#">
                                    </div>

                                    <div class="magazine-block_privilege">
                                    <span class="magazine-privilege_icon">
                                        <i class="icon-sale"></i>
                                    </span>

                                        <p>Привилегии</p>
                                    </div>

                                    <h5>EXCLUSIVE</h5>

                                    <div class="magazine-block_price">
                                        <p>9837.60 ₽</p>

                                        <div>-20%</div>
                                    </div>

                                </div>

                                <div class="magazine-block_button">
                                    <button>В корзину</button>
                                </div>
                                
                            </a>
                        </div>

                        <div class="col-lg-3 mt-lg-0 mt-2">
                            <a href="#" class="magazine-block_product">

                                <div class="sale">
                                    <div class="sale__size">
                                        <i class="icon-clock"></i>
                                    </div>
                                    <div class="sale__timer">
                                        <div>20% 2025</div>
                                    </div>
                                </div>

                                <div class="magazine-block_product__opacity">
                                    <div class="magazine-block_img">
                                        <img src="/images/product.png" loading="lazy" alt="#">
                                    </div>

                                    <div class="magazine-block_privilege">
                                    <span class="magazine-privilege_icon">
                                        <i class="icon-sale"></i>
                                    </span>

                                        <p>Привилегии</p>
                                    </div>

                                    <h5>EXCLUSIVE</h5>

                                    <div class="magazine-block_price">
                                        <p>9837.60 ₽</p>

                                        <div>-20%</div>
                                    </div>

                                </div>

                                <div class="magazine-block_button">
                                    <button>В корзину</button>
                                </div>

                            </a>
                        </div>

                        <div class="col-lg-3 mt-lg-0 mt-2">
                            <a href="#" class="magazine-block_product">

                                <div class="sale">
                                    <div class="sale__size">
                                        <i class="icon-clock"></i>
                                    </div>
                                    <div class="sale__timer">
                                        <div>20% 2025</div>
                                    </div>
                                </div>

                                <div class="magazine-block_product__opacity">
                                    <div class="magazine-block_img">
                                        <img src="/images/product.png" loading="lazy" alt="#">
                                    </div>

                                    <div class="magazine-block_privilege">
                                    <span class="magazine-privilege_icon">
                                        <i class="icon-sale"></i>
                                    </span>

                                        <p>Привилегии</p>
                                    </div>

                                    <h5>EXCLUSIVE</h5>

                                    <div class="magazine-block_price">
                                        <p>9837.60 ₽</p>

                                        <div>-20%</div>
                                    </div>

                                </div>

                                <div class="magazine-block_button">
                                    <button>В корзину</button>
                                </div>

                            </a>
                        </div>

                        <div class="col-lg-3 mt-lg-0 mt-2">
                            <a href="#" class="magazine-block_product">

                                <div class="sale">
                                    <div class="sale__size">
                                        <i class="icon-clock"></i>
                                    </div>
                                    <div class="sale__timer">
                                        <div>20% 2025</div>
                                    </div>
                                </div>

                                <div class="magazine-block_product__opacity">
                                    <div class="magazine-block_img">
                                        <img src="/images/product.png" loading="lazy" alt="#">
                                    </div>

                                    <div class="magazine-block_privilege">
                                    <span class="magazine-privilege_icon">
                                        <i class="icon-sale"></i>
                                    </span>

                                        <p>Привилегии</p>
                                    </div>

                                    <h5>EXCLUSIVE</h5>

                                    <div class="magazine-block_price">
                                        <p>9837.60 ₽</p>

                                        <div>-20%</div>
                                    </div>

                                </div>

                                <div class="magazine-block_button">
                                    <button>В корзину</button>
                                </div>

                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}