<footer class="footer">
    <div class="content">
        <div class="copyright">
            <div class="copyright-content">

                <div class="copyright-left">
                    <div class="copyright-left_logo">
                        <a href="/" class="logo"></a>
                    </div>

                    <div class="copyright-left_text">
                        <p>© 2024 company. <br>
                            Все права защищены.</p>
                    </div>
                </div>

                <div class="copyright-center">
                    <a href="#">Правила проекта</a>
                </div>

                <div class="copyright-right">
                    <div class="header-right_whatsapp">
                        <a href="#">
                            <i class="icon-wh"></i>
                        </a>
                    </div>

                    <div class="header-right_telegram">
                        <a href="#">
                            <i class="icon-tg"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>