@import "../misc/bootstrap";


.icon-wh {
  background-image: url("../../images/icons/wh.png");
  width: 20px;
  height: 20px;
  display: block;
  background-size: cover;
}

.icon-tg {
  background-image: url("../../images/icons/tg.png");
  width: 20px;
  height: 20px;
  display: block;
  background-size: cover;
}

.icon-arrowDown {
  background-image: url("../../images/icons/arrow-down.png");
  width: 24px;
  height: 24px;
  display: block;
  background-size: cover;
}

.icon-copy {
  background-image: url("../../images/icons/copy.png");
  width: 24px;
  height: 24px;
  display: block;
  background-size: cover;
}

.icon-sale {
  background-image: url("../../images/icons/sale.png");
  width: 20px;
  height: 20px;
  display: block;
  background-size: cover;
}

.icon-clock {
  background-image: url("../../images/icons/clock.png");
  width: 16px;
  height: 16px;
  display: block;
  background-size: cover;
}

