@import "../misc/bootstrap";


.icon-wh {
  background-image: url("../../images/icons/wh.png");
  width: 20px;
  height: 20px;
  display: block;
  background-size: cover;
}

.icon-tg {
  background-image: url("../../images/icons/tg.png");
  width: 20px;
  height: 20px;
  display: block;
  background-size: cover;
}

