@import "../misc/bootstrap";

.menu-flex {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-top: 10px;
}

.menu-button{

	margin-top: 50px;

	a{
		display: block;
		color: #ffffff;
		border: 2px solid #10ab7c;
		padding: 10px;
		border-radius: 30px;
		font-size: 18px;
		font-weight: 400;
		text-align: center;

		&:hover{
			color: white;
			text-decoration: none;
		}
	}

}

.menu-social {
	display: flex;
	gap: 15px;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
}